@import "../../../../assets/styles/colors";

.box {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 4px 0 rgba(172, 172, 172, 0.50);

  .row {
    align-items: center;
  }

  button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
  }

  .share {
    text-align: right;

    .fa-share-square-o {
      color: $orange;
    }
  }

  .avatar {
    width: 70px;
    height: 70px;
  }

  .user-details {
    margin-left: 18px;
    display: flex;
    flex-direction: column;

    .name {
      color: $blue;
      font-size: 1.125em;

      &.row {
        align-items: baseline;
      }

      .like-button {
        font-size: 0.75em;
        .fa-heart-o {
          font-weight: bold;
          color: $gray;
        }
      }
    }

    .country {
      color: $lightBlue;
      font-size: 0.75em;
    }
  }

  .social {
    margin-top: 20px;

    .row {
      justify-content: space-between;
      align-items: stretch;

      .delimeter {
        width: 1px;
        background: $lightGray;
      }

      .column {
        padding: 0 20px;

        .number {
          font-size: 1.5em;
          color: $orange;
        }

        .name {
          color: $lightBlue;
          font-size: 0.625em;
        }
      }

      .follow-button {
        background: $orange;
        color: #fff;
        text-transform: uppercase;
        padding: 12px 23px;
        font-size: 0.75em;
        letter-spacing: 3px;
        border-radius: 30px;
      }
    }
  }
}

@media (max-width: 460px) {
  .box {
    .row.user {
      flex-direction: column;
    }

    .avatar {
      position: absolute;
      top: 0;
    }
    .user-details {
      margin-left: 0;
      margin-top: 25px;
      text-align: center;

      .name {
        position: relative;

        button {
          position: absolute;
          right: -30px;
          top: 50%;
          margin-top: -10px;
        }
      }
    }

    .social {
      .row {
        flex-wrap: wrap;
      }

      .follow-column {
        width: 100%;
      }

      .column {
        .follow-button {
          width: 100%;
          margin-top: 20px;
        }
      }
    }
  }
}
