<app-modal [openModal]="modalIsOpen" [url]="url" (modalIsClose)="closeModal($event)"></app-modal>

<div class="box">
  <div class="share">
    <button class="share-button" (click)="(modalIsOpen = true)">
      <i class="fa fa-share-square-o"></i>
    </button>
  </div>
  <div class="row user">
    <div class="avatar">
      <img src="{{user.avatar}}">
    </div>
    <div class="user-details">
      <div class="name row">
        <div>{{user.firstName}} {{user.lastName}}</div>
        <button class="like-button" (click)="addLike()">
          <i class="fa fa-heart-o"></i>
        </button>
      </div>
      <div class="country">{{user.country}}, {{user.city}}</div>
    </div>
  </div>
  <div class="social">
    <div class="row">
      <div class="column">
        <div class="number likes">{{likes}}</div>
        <div class="name">Likes</div>
      </div>
      <div class="delimeter"></div>
      <div class="column">
        <div class="number">{{user.following}}</div>
        <div class="name">Following</div>
      </div>
      <div class="delimeter"></div>
      <div class="column">
        <div class="number followers">{{followers}}</div>
        <div class="name">Followers</div>
      </div>
      <div class="column follow-column">
        <button class="follow-button" (click)="addFollower()">Follow</button>
      </div>
    </div>
  </div>
</div>
